@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Index</h1>
<form asp-controller="ExampleQuery" asp-action="GetString">
    @*<input name="first" />*@
    @*<button type="submit" value="Submit">Submit</button>*@
    <a asp-route-first="tarun">Click Here</a>
</form>